* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
body {
    font-family: "Merienda", cursive;
    line-height: 1.25;
    font-optical-sizing: auto;
    font-style: normal;
}



.container-wrapper{
    height: 100vh;
    background-image: url('./2B5A6808.JPG');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
   
}

/* body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
} */

.image-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0;
}

.title {
    color: antiquewhite;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-style: italic;
}

.hero {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:  2rem;
}


.hero-image{
    background-image: url('./01.svg');
    background-size: cover;
    width: 298px;
    height: 283px;
    background-position: center;
}

.hero-content p{
    color: rgb(201, 185, 163);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
    font-family: "Merienda", cursive;
    font-style: italic;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
   
}

.names{
    position: absolute;
    top: 116px;
    left: 97px;
}

.hero-content{
    position: relative;
}

.hero-icon04{
    position: absolute;
    top: 153px;
    left: 18px;
    width: 24px;
}

.hero-icon02{
    position: absolute;
    top: 199px;
    left: 60px;
    width: 20px;
}

.hero-icon05{
    position: absolute;
    top: 245px;
    left: 1px;
    width: 75px;
}

.hero-icon07{
    position: absolute;
    top: 81px;
    width: 34px;
    left: -27px;
}

.hero-icon03{
    position: absolute;
    top: 283px;
    left: 80px;
    width: 68px;
}

.hero-icon06{
    position: absolute;
    top: 170px;
    left: -37px;
    width: 50px;
}

.content {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 388px;
    /* background: rgba(255, 255, 255, 0.8); */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content p {
    margin-bottom: 1rem;
    color:antiquewhite;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

.calendar{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    margin-top: 4rem;
    
}

.calendar p {
    color: antiquewhite;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.calendar-content{
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    /* width: 100%; */
    max-width: 800px;
}

.calendar-content p{
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    opacity: 0.8;
}

.day{
    opacity: 1 !important;
} 

.ring-icon{
    position: absolute;
    width: 36px;
    top: 26px;
    left: 106px;
}

.date{
    margin: 2rem 0;
    color: antiquewhite;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}

.ceremony{
    margin-top: 6rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    text-align: center;  
}


.ceremony p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
}

.ceremony h2{
    /* font-size: 1.5rem; */
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.reception{
    margin-top: 6rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    text-align: center;  
}

.reception p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
}
.reception a{
    color: rgb(237, 230, 223);
    /* text-decoration: none; */
    font-weight: 500;
}

hr{
    width: 200px;
    margin: 2rem auto;
}



@media (max-width: 931px) {
 
    .container-wrapper{
      background-size: cover;
    }
}
/* 
section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
} */


/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 5s ease-out both;
} */